{% extends "layout/base.twig" %}

{% block title "Login" %}

{% block content %}
	{{ form_start(form, {'action': path('login_check'), 'attr': {'class': 'form-horizontal'}}) }}
		<fieldset>
			<div id="legend">
				<legend>Login</legend>
			</div>

			{% if error %}
				<div class="controle-group">
					<div class="alert alert-error">
						<strong>Erro!</strong> {{ error }}
					</div>
				</div>
	        {% endif %}
				
			<div class="control-group">
				<!-- Username -->
				{{ form_label(form.nomelogin, 'Usuário', {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(form.nomelogin, {'attr': {'class': 'input-xlarge'}}) }}
				</div>
			</div>

			<div class="control-group">
				<!-- Password-->
				{{ form_label(form.senha, 'Senha', {'label_attr': {'class': 'control-label'}}) }}
				<div class="controls">
					{{ form_widget(form.senha, {'attr': {'class': 'input-xlarge'}}) }}
				</div>
			</div>

			<div class="control-group">
				<!-- Button -->
				<div class="controls">
					{{ form_widget(form.logar, {'attr': {'class': 'btn btn-success'}}) }}
				</div>
			</div>
		</fieldset>
	{{ form_end(form) }}
{% endblock %}